/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Add styles to the pagination container */
@import 'bootstrap';

a {
    color: #006666; /* Black color */
  }


a {
  text-decoration: none;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination {
  border-left: 1px solid #ddd;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

  /* Add styles to the search form container */
.search-form-container {
    margin-bottom: 20px;
  }
  
  /* Style for search input fields */
  .search-form-container input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for search submit button */
  .search-form-container input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Hover effect for search submit button */
  .search-form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  